<h1>this is the <%= @room.name %> page</h1>
<div>
  <ul>
    <li>name: <%= @room.name %></li>
    <li>address: <%= @room.address %></li>
    <li>description: <%= @room.description %></li>
    <li>photo: <%= @room.room_photo_url %></li>
    <li>price: <%= @room.price%></li>
    <li>available: <%= @room.is_available%></li>
  </ul>
</div>